
        .navbar-brand {
            font-family: 'fantasy';
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #B5C9C3;

        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
        }

        i img {
            width: 25px; 
            height: 25px;
        }

        .orderbox {
            margin: 3%;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .orderdetails {
            margin-right:5%;
            background-color: white;
            height: 500px;
            width: 400px;
            border-radius: 10px;
            color: black
        }

        .orderbox p {
            font-size: 14pt;
        }

        .paymentmethodsgrid {
            display: flex;
            flex-direction: row;
            /* grid-template-columns: 1fr 1fr; */
            /* padding: 3%; */
        }
        .space {
            margin: 2%;
        }
        
        .paymentmethod {
            width: 200px;
            height: 110px;
            background-color: white;
            color: black;
            margin-top: 30px;
            border-radius: 10px;
            text-align: center;
        }

        .paymentform {
            width: 600px;
            height: 110px;
            background-color: white;
            color: black;
            margin-top: 30px;
            border-radius: 10px;
            text-align: center;
        }

        .paymentmethod p {
            font-size: 14pt;
            margin-top: 40px;
            color: black;
        }

        input[type=text] {
            width: 420px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .rightbox {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rightbox label {
            padding: 20px;
        }

        .confirmcancelbuttons{
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 350px;
            color: black;
            /*.container {*/
            /*    display: flex;*/
                justify-content: center;
            /*}*/
            margin-top: 10px;
        }

        .cards{ 
            align-items: center;
            background-color: rgba(0, 255, 17, 0.512);
            border-radius: 20px;
            margin: 5%;
            box-shadow: 2px 2px 2px 2px grey;
            color:#01161E

        }
        a {
            text-decoration: none;
            color: black;
        }

        .promo {
            width: 200px;
            height: 110px;
            background-color: white;
            color: black;
            margin-top: 30px;
            border-radius: 10px;
            text-align: center;
        }

        .manage-promotions {
            /*max-width: 700px;*/
            margin: 6%;
            padding: 2%;
            /*background-color: #598392; Intermediate color for form background */
            border-radius: 8px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            height: fit-content;
            width: fit-content;
        }