/* EditProfile.css */


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

/* Rest of your CSS styles */


.form-label {
  font-weight: bold;
}

.btn-primary {
  margin-bottom: 10px; /* Add margin to create space between buttons */
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.edit-profile-header {
  color: black;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 15px;
}
