/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}


.navbar-brand {
    font-family: 'fantasy';
}


/* Custom style for the login button */
.custom-login-button {
    background-color: #598392;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}


.custom-login-button:hover {
    background-color: #01161E; /* Change button color on hover */
}


/* Card */
.card {
    background-color: #AEC3B0; /* Card background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set card width */
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #01161E;
    margin-bottom: 20px;
}


.card-body {
    padding: 20px;
}


.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #01161E;
}


#signupLink, #login {
    color: dodgerblue;
    text-decoration: underline;
}


#signupLink:hover, #login:hover {
    text-decoration: underline;
    color: black;
}
