.navbar {
    background-color: #01161E;
}

.navbar-brand {
    font-family: 'fantasy';
}

body {
    font-family: Arial, sans-serif;
    background-color: #124559;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;/* Adjust this value if needed */
  }
  
  .card {
    width: 400px;
  }
  

i img {
    width: 25px;
    height: 25px;
}

/* Custom style for the login button */
.custom-login-button {
    background-color: #598392;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
}

.custom-login-button:hover {
    background-color: #01161E; /* Change button color on hover */
}
