/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white; /* Lighter background for contrast */
}

/* Styling the navbar */
.navbar {
  background-color: #01161E;
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Lilita One', cursive;
}


/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.form-control {
  font-size: 1rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid #dbe2ef;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #3a7bfd; /* Highlight color for focus */
  outline: none;
}

/* Password guidance text */
.form-text {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

/* Sign up button styling */
.custom-signup-button {
  background-color: #01161E;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-signup-button:hover {
  background-color: #3a7bfd; /* Slightly lighter blue on hover */
}

/* Link to log in page */
a {
  text-decoration: none;
  color: #3a7bfd;
  transition: color 0.3s;
}

a:hover {
  color: #01161E;
}

.bullets {
  padding: 10px 15px;
  color: white;
}

.card-title {
  color: black;
  text-align: center; /* Center align the title */
}

.mt-3 {
  color: black;
  text-align: center; /* Center align the link */
}

.signup-container {
  width: 100%;
  margin: 20px auto;
}

.promo-label {
  margin-top: 10px;
}

.card-type {
  margin-top: 10px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}

.card {
  width: 100%;
  max-width: 600px;
}

